.star-rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: left;
    width: 100%;
}
.star-rating > span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 10%;
    max-width: 1.1em;
    font-size: 220%;
    margin-left: -5px;
}

.star-rating > span:before {
    content: "\2605";
    position: absolute;
    left: 0;
    color: darkgrey;
}

.star-rating > span.blue:before {
    content: "\2605";
    position: absolute;
    left: 0;
    color: #1E88E5;
}

.star-rating > span:hover:before,
.star-rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
    left: 0;
    color: gold;
}

